#Step 1: Import Data

##1.1 Import packages

In [ ]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [ ]:
def reduce_mem_usage(df):
    """ iterate through all the columns of a dataframe and modify the data type
        to reduce memory usage.        
    """
    start_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage of dataframe is {:.2f} MB'.format(start_mem))
    
    for col in df.columns:
        col_type = df[col].dtype
        col_type2 = df[col].dtype.name
        
        if ((col_type != object) and (col_type2 != 'category')):
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)
        else:
            df[col] = df[col].astype('category')

    end_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage after optimization is: {:.2f} MB'.format(end_mem))
    print('Decreased by {:.1f}%'.format(100 * (start_mem - end_mem) / start_mem))
    
    return df

In [ ]:
import pandas as pd
import numpy as np
import gc #Garbage Collector to free up memory
gc.enable

In [ ]:
import pandas as pd
new_features = reduce_mem_usage(pd.read_csv('/content/gdrive/My Drive/Dataset/new_features.csv'))

Memory usage of dataframe is 2030.63 MB
Memory usage after optimization is: 596.50 MB
Decreased by 70.6%

In [ ]:
orders = reduce_mem_usage(pd.read_csv('/content/gdrive/My Drive/Dataset/orders.csv'))

Memory usage of dataframe is 182.71 MB
Memory usage after optimization is: 45.68 MB
Decreased by 75.0%

In [ ]:
order_products__prior = pd.read_csv('/content/gdrive/My Drive/Dataset/order_products__prior.csv')

In [ ]:
order_products__train = pd.read_csv('/content/gdrive/My Drive/Dataset/order_products__train.csv')

#3.Split into Train and Test DataFrame

In [ ]:
new_features.shape

(13307953, 20)

In [ ]:
new_features.head()

   Unnamed: 0  user_id  product_id  ...  department_id  eval_set  order_id
0           0        1         196  ...              7     train   1187899
1           1        1       10258  ...             19     train   1187899
2           2        1       10326  ...              4     train   1187899
3           3        1       12427  ...             19     train   1187899
4           4        1       13032  ...             14     train   1187899

[5 rows x 20 columns]

In [ ]:
new_features = new_features.drop(['Unnamed: 0'], axis=1)

In [ ]:
new_features.head()

   user_id  product_id  up_total_bought  ...  department_id  eval_set  order_id
0        1         196               10  ...              7     train   1187899
1        1       10258                9  ...             19     train   1187899
2        1       10326                1  ...              4     train   1187899
3        1       12427               10  ...             19     train   1187899
4        1       13032                3  ...             14     train   1187899

[5 rows x 19 columns]

##3.1Create Train DataFrame

In [ ]:
#Filter eval_set for just train to create the train DataFrame
new_features_train = reduce_mem_usage(new_features[new_features.eval_set=='train'])
new_features_train.head(n=10)

Memory usage of dataframe is 412.19 MB

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Memory usage after optimization is: 412.19 MB
Decreased by 0.0%

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   user_id  product_id  up_total_bought  ...  department_id  eval_set  order_id
0        1         196               10  ...              7     train   1187899
1        1       10258                9  ...             19     train   1187899
2        1       10326                1  ...              4     train   1187899
3        1       12427               10  ...             19     train   1187899
4        1       13032                3  ...             14     train   1187899
5        1       13176                2  ...              4     train   1187899
6        1       14084                1  ...             16     train   1187899
7        1       17122                1  ...              4     train   1187899
8        1       25133                8  ...             16     train   1187899
9        1       26088                2  ...             19     train   1187899

[10 rows x 19 columns]

In [ ]:
#Get the features from the order_products_train DataFrame
new_features_train = reduce_mem_usage(new_features_train.merge(order_products__train[['product_id','order_id','reordered']], on=['product_id', 'order_id'], how='left'))
new_features_train.head(n=10)

Memory usage of dataframe is 476.84 MB
Memory usage after optimization is: 428.35 MB
Decreased by 10.2%

   user_id  product_id  up_total_bought  ...  eval_set  order_id  reordered
0        1         196               10  ...     train   1187899        1.0
1        1       10258                9  ...     train   1187899        1.0
2        1       10326                1  ...     train   1187899        NaN
3        1       12427               10  ...     train   1187899        NaN
4        1       13032                3  ...     train   1187899        1.0
5        1       13176                2  ...     train   1187899        NaN
6        1       14084                1  ...     train   1187899        NaN
7        1       17122                1  ...     train   1187899        NaN
8        1       25133                8  ...     train   1187899        1.0
9        1       26088                2  ...     train   1187899        1.0

[10 rows x 20 columns]

In [ ]:
#Fill in 'reordered' column where NaN
new_features_train['reordered'] = new_features_train['reordered'].fillna(0)
new_features_train.head(n=10)

   user_id  product_id  up_total_bought  ...  eval_set  order_id  reordered
0        1         196               10  ...     train   1187899        1.0
1        1       10258                9  ...     train   1187899        1.0
2        1       10326                1  ...     train   1187899        0.0
3        1       12427               10  ...     train   1187899        0.0
4        1       13032                3  ...     train   1187899        1.0
5        1       13176                2  ...     train   1187899        0.0
6        1       14084                1  ...     train   1187899        0.0
7        1       17122                1  ...     train   1187899        0.0
8        1       25133                8  ...     train   1187899        1.0
9        1       26088                2  ...     train   1187899        1.0

[10 rows x 20 columns]

In [ ]:
#Create a unique index that describe each row using user_id and product_id
new_features_train = new_features_train.set_index(['user_id', 'product_id'])
new_features_train.head(n=10)

                    up_total_bought  up_reorder_ratio  ...  order_id  reordered
user_id product_id                                     ...
1       196                      10          1.000000  ...   1187899        1.0
        10258                     9          1.000000  ...   1187899        1.0
        10326                     1          0.166626  ...   1187899        0.0
        12427                    10          1.000000  ...   1187899        0.0
        13032                     3          0.333252  ...   1187899        1.0
        13176                     2          0.222168  ...   1187899        0.0
        14084                     1          0.099976  ...   1187899        0.0
        17122                     1          0.166626  ...   1187899        0.0
        25133                     8          1.000000  ...   1187899        1.0
        26088                     2          0.199951  ...   1187899        1.0

[10 rows x 18 columns]

In [ ]:
#Remove features which are not predictors
new_features_train = new_features_train.drop(['eval_set', 'order_id'], axis=1)
new_features_train.head(n=10)

                    up_total_bought  up_reorder_ratio  ...  department_id  reordered
user_id product_id                                     ...
1       196                      10          1.000000  ...              7        1.0
        10258                     9          1.000000  ...             19        1.0
        10326                     1          0.166626  ...              4        0.0
        12427                    10          1.000000  ...             19        0.0
        13032                     3          0.333252  ...             14        1.0
        13176                     2          0.222168  ...              4        0.0
        14084                     1          0.099976  ...             16        0.0
        17122                     1          0.166626  ...              4        0.0
        25133                     8          1.000000  ...             16        1.0
        26088                     2          0.199951  ...             19        1.0

[10 rows x 16 columns]

In [ ]:
new_features_train.shape

(8474661, 16)

##3.2 Create Test DataFrame

In [ ]:
new_features_test = reduce_mem_usage(new_features[new_features.eval_set == 'test'])
new_features_test.head()

Memory usage of dataframe is 235.08 MB

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Memory usage after optimization is: 235.08 MB
Decreased by 0.0%

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     user_id  product_id  up_total_bought  ...  department_id  eval_set  order_id
120        3         248                1  ...             19      test   2774568
121        3        1005                1  ...              7      test   2774568
122        3        1819                3  ...             13      test   2774568
123        3        7503                1  ...             19      test   2774568
124        3        8021                1  ...             17      test   2774568

[5 rows x 19 columns]

In [ ]:
#Create a unique index for the dataframe using user_id and product_id
new_features_test = new_features_test.set_index(['user_id', 'product_id'])
new_features.head()

   user_id  product_id  up_total_bought  ...  department_id  eval_set  order_id
0        1         196               10  ...              7     train   1187899
1        1       10258                9  ...             19     train   1187899
2        1       10326                1  ...              4     train   1187899
3        1       12427               10  ...             19     train   1187899
4        1       13032                3  ...             14     train   1187899

[5 rows x 19 columns]

In [ ]:
#Remove features which are not predictors
new_features_test = new_features_test.drop(['eval_set', 'order_id'], axis=1)

In [ ]:
new_features_test.head()

                    up_total_bought  up_reorder_ratio  ...  aisle_id  department_id
user_id product_id                                     ...
3       248                       1          0.090881  ...       117             19
        1005                      1          0.333252  ...        94              7
        1819                      3          0.333252  ...        88             13
        7503                      1          0.099976  ...       117             19
        8021                      1          0.090881  ...        54             17

[5 rows x 15 columns]

In [ ]:
new_features_test.shape

(4833292, 15)

In [ ]:
new_features_test.shape
new_features_test.info

<bound method DataFrame.info of                     up_total_bought  up_reorder_ratio  ...  aisle_id  department_id
user_id product_id                                     ...
3       248                       1          0.090881  ...       117             19
        1005                      1          0.333252  ...        94              7
        1819                      3          0.333252  ...        88             13
        7503                      1          0.099976  ...       117             19
        8021                      1          0.090881  ...        54             17
...                             ...               ...  ...       ...            ...
206208  48364                     1          0.021271  ...        83              4
        48865                     1          0.125000  ...       100             21
        49247                     1          0.022720  ...       120             16
        49385                     1          0.043488  ...        38              1
        49621                     1          0.052643  ...       112              3

[4833292 rows x 15 columns]>

#Split into Train and Test

In [ ]:
#Further split training set (new_features_train DataFrame) into train and test set to validate our model
from sklearn.model_selection import train_test_split, StratifiedKFold

In [ ]:
#Split into smaller DataFrame for ease of working with and faster processing time
new_features_train3 = new_features_train.sample(n=50000)

In [ ]:
X_train, X_test = train_test_split(new_features_train3, test_size=0.3, random_state=42)

In [ ]:
X_train.shape
X_train.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 35000 entries, (182103, 38784) to (194466, 36866)
Data columns (total 16 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   up_total_bought                   35000 non-null  int8
 1   up_reorder_ratio                  35000 non-null  float16
 2   number_times_last5                35000 non-null  float16
 3   total_items                       35000 non-null  int16
 4   total_distinct_items              35000 non-null  int16
 5   user_average_days_between_orders  35000 non-null  float16
 6   user_number_orders                35000 non-null  int8
 7   user_avg_basket                   35000 non-null  float16
 8   user_total_orders                 35000 non-null  int8
 9   user_reordered_ratio              35000 non-null  float16
 10  product_orders_total              35000 non-null  int32
 11  product_reorder_total             35000 non-null  float32
 12  product_reorder_rate              35000 non-null  float16
 13  aisle_id                          35000 non-null  int16
 14  department_id                     35000 non-null  int8
 15  reordered                         35000 non-null  float16
dtypes: float16(7), float32(1), int16(3), int32(1), int8(4)
memory usage: 9.0 MB

In [ ]:
X_test.shape
X_test.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 15000 entries, (185216, 12204) to (204799, 47380)
Data columns (total 16 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   up_total_bought                   15000 non-null  int8
 1   up_reorder_ratio                  15000 non-null  float16
 2   number_times_last5                15000 non-null  float16
 3   total_items                       15000 non-null  int16
 4   total_distinct_items              15000 non-null  int16
 5   user_average_days_between_orders  15000 non-null  float16
 6   user_number_orders                15000 non-null  int8
 7   user_avg_basket                   15000 non-null  float16
 8   user_total_orders                 15000 non-null  int8
 9   user_reordered_ratio              15000 non-null  float16
 10  product_orders_total              15000 non-null  int32
 11  product_reorder_total             15000 non-null  float32
 12  product_reorder_rate              15000 non-null  float16
 13  aisle_id                          15000 non-null  int16
 14  department_id                     15000 non-null  int8
 15  reordered                         15000 non-null  float16
dtypes: float16(7), float32(1), int16(3), int32(1), int8(4)
memory usage: 8.2 MB

In [ ]:
#Split the target from the features
X_train_features = X_train.drop(['reordered'], axis=1)
Y_train_target = X_train['reordered']

In [ ]:
#Prepare test data
#Split feature and target
X_test_features = X_test.drop(['reordered'], axis=1)
Y_test_target = X_test['reordered']

In [ ]:
X_train = X_train_features.copy()
y_train = Y_train_target.copy()
X_test = X_test_features.copy()
y_test = Y_test_target.copy()

In [ ]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(35000, 15)
(35000,)
(15000, 15)
(15000,)

#Training Models

In [ ]:
#import important Libraries

# data analysis and wrangling
import pandas as pd
import numpy as np #linear algebra
import random as rnd
import warnings
warnings.filterwarnings("ignore")

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# machine learning
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import norm
from sklearn.preprocessing import LabelEncoder

# NAIBE BAYES
from sklearn.naive_bayes import GaussianNB
#KNN
from sklearn.neighbors import KNeighborsClassifier
#RANDOM FOREST
from sklearn.ensemble import RandomForestClassifier
#LOGISTIC REGRESSION
from sklearn.linear_model import LogisticRegression
#SVM
from sklearn.svm import SVC
#DECISON TREE
from sklearn.tree import DecisionTreeClassifier
#XGBOOST
from xgboost import XGBClassifier
#AdaBoosting Classifier
from sklearn.ensemble import AdaBoostClassifier
#GradientBoosting Classifier
from sklearn.ensemble import GradientBoostingClassifier
#HistGradientBoostingClassifier
from sklearn.experimental import enable_hist_gradient_boosting
from sklearn.ensemble import HistGradientBoostingClassifier, StackingClassifier

from sklearn.model_selection import cross_val_score,StratifiedKFold,GridSearchCV




from sklearn.preprocessing import StandardScaler ,Normalizer , MinMaxScaler, RobustScaler 
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split

In [ ]:
sk_fold = StratifiedKFold(10,shuffle=True, random_state=42)

In [ ]:
#define the algorithms to be used
g_nb = GaussianNB()
knn = KNeighborsClassifier()
ran_for  = RandomForestClassifier()
log_reg = LogisticRegression()
svc = SVC()
tree= DecisionTreeClassifier()
xgb = XGBClassifier()

ada_boost = AdaBoostClassifier()
grad_boost = GradientBoostingClassifier(n_estimators=100)
hist_grad_boost = HistGradientBoostingClassifier()

In [ ]:
#Create a stacking list 
stack_list=[]
train_scores = pd.DataFrame(columns=["Name","Train Score","Test Score"])

In [ ]:
from sklearn.tree import DecisionTreeClassifier

clf = [("Naive Bayes",g_nb,{}),\
       ("K Nearest",knn,{"n_neighbors":[3,5,8],"leaf_size":[25,30,35]}),\
       ("Random Forest",ran_for,{"n_estimators":[100],"random_state":[42],"min_samples_leaf":[5,10,20,40,50],"bootstrap":[False]}),\
       ("Logistic Regression",log_reg,{"penalty":['l2'],"C":[100, 10, 1.0, 0.1, 0.01] , "solver":['saga']}),\
       ("Support Vector",svc,{"kernel": ["linear","rbf"],"gamma":['auto'],"C":[0.1, 1, 10, 100, 1000]}),\
       ("Decision Tree", tree, {}),\
       ("XGBoost",xgb,{"n_estimators":[200],"max_depth":[3,4,5],"learning_rate":[.01,.1,.2],"subsample":[.8],"colsample_bytree":[1],"gamma":[0,1,5],"lambda":[.01,.1,1]}),\
       
       ("Adapative Boost",ada_boost,{"n_estimators":[100],"learning_rate":[.6,.8,1]}),\
       ("Gradient Boost",grad_boost,{}),\
     
       ("Histogram GB",hist_grad_boost,{"loss":["binary_crossentropy"],"min_samples_leaf":[5,10,20,40,50],"l2_regularization":[0,.1,1]})]

In [ ]:
clf

[('Naive Bayes', GaussianNB(priors=None, var_smoothing=1e-09), {}),
 ('K Nearest',
  KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                       metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                       weights='uniform'),
  {'leaf_size': [25, 30, 35], 'n_neighbors': [3, 5, 8]}),
 ('Random Forest',
  RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                         criterion='gini', max_depth=None, max_features='auto',
                         max_leaf_nodes=None, max_samples=None,
                         min_impurity_decrease=0.0, min_impurity_split=None,
                         min_samples_leaf=1, min_samples_split=2,
                         min_weight_fraction_leaf=0.0, n_estimators=100,
                         n_jobs=None, oob_score=False, random_state=None,
                         verbose=0, warm_start=False),
  {'bootstrap': [False],
   'min_samples_leaf': [5, 10, 20, 40, 50],
   'n_estimators': [100],
   'random_state': [42]}),
 ('Logistic Regression',
  LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                     intercept_scaling=1, l1_ratio=None, max_iter=100,
                     multi_class='auto', n_jobs=None, penalty='l2',
                     random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                     warm_start=False),
  {'C': [100, 10, 1.0, 0.1, 0.01], 'penalty': ['l2'], 'solver': ['saga']}),
 ('Support Vector',
  SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
      decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
      max_iter=-1, probability=False, random_state=None, shrinking=True,
      tol=0.001, verbose=False),
  {'C': [0.1, 1, 10, 100, 1000],
   'gamma': ['auto'],
   'kernel': ['linear', 'rbf']}),
 ('Decision Tree',
  DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                         max_depth=None, max_features=None, max_leaf_nodes=None,
                         min_impurity_decrease=0.0, min_impurity_split=None,
                         min_samples_leaf=1, min_samples_split=2,
                         min_weight_fraction_leaf=0.0, presort='deprecated',
                         random_state=None, splitter='best'),
  {}),
 ('XGBoost',
  XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
                colsample_bynode=1, colsample_bytree=1, gamma=0,
                learning_rate=0.1, max_delta_step=0, max_depth=3,
                min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
                nthread=None, objective='binary:logistic', random_state=0,
                reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
                silent=None, subsample=1, verbosity=1),
  {'colsample_bytree': [1],
   'gamma': [0, 1, 5],
   'lambda': [0.01, 0.1, 1],
   'learning_rate': [0.01, 0.1, 0.2],
   'max_depth': [3, 4, 5],
   'n_estimators': [200],
   'subsample': [0.8]}),
 ('Adapative Boost',
  AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None, learning_rate=1.0,
                     n_estimators=50, random_state=None),
  {'learning_rate': [0.6, 0.8, 1], 'n_estimators': [100]}),
 ('Gradient Boost',
  GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                             learning_rate=0.1, loss='deviance', max_depth=3,
                             max_features=None, max_leaf_nodes=None,
                             min_impurity_decrease=0.0, min_impurity_split=None,
                             min_samples_leaf=1, min_samples_split=2,
                             min_weight_fraction_leaf=0.0, n_estimators=100,
                             n_iter_no_change=None, presort='deprecated',
                             random_state=None, subsample=1.0, tol=0.0001,
                             validation_fraction=0.1, verbose=0,
                             warm_start=False),
  {}),
 ('Histogram GB',
  HistGradientBoostingClassifier(l2_regularization=0.0, learning_rate=0.1,
                                 loss='auto', max_bins=255, max_depth=None,
                                 max_iter=100, max_leaf_nodes=31,
                                 min_samples_leaf=20, n_iter_no_change=None,
                                 random_state=None, scoring=None, tol=1e-07,
                                 validation_fraction=0.1, verbose=0,
                                 warm_start=False),
  {'l2_regularization': [0, 0.1, 1],
   'loss': ['binary_crossentropy'],
   'min_samples_leaf': [5, 10, 20, 40, 50]})]

#1. Stacking

##1.1 Seperate each algorithm

In [ ]:
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score

In [ ]:
#Naive Bayes
clf = GridSearchCV(g_nb,{},scoring="f1_micro",cv=sk_fold,return_train_score=True)
clf.fit(X_train,y_train) #.reshape(-1,1)
y_pred = clf.best_estimator_.predict(X_test)
cm = confusion_matrix(y_test,y_pred)
  
train_scores.loc[0]=  ["Naive Bayes",clf.best_score_, f1_score(y_test,y_pred)]
stack_list.append(clf.best_estimator_)

In [ ]:
#K Nearest
clf = GridSearchCV(knn,{"n_neighbors":[3,5,8],"leaf_size":[25,30,35]},scoring="f1_micro",cv=sk_fold,return_train_score=True)
clf.fit(X_train,y_train) #.reshape(-1,1)
y_pred = clf.best_estimator_.predict(X_test)
cm = confusion_matrix(y_test,y_pred)
  
#train_scores.loc[i]= [name,cross_val_score(clf,X_train,y_train,cv=sk_fold,scoring="accuracy").mean(),(cm[0,0]+cm[1,1,])/(cm[0,0]+cm[0,1]+cm[1,0]+cm[1,1])]
train_scores.loc[1]=  ["K Nearest",clf.best_score_, f1_score(y_test,y_pred) ]
stack_list.append(clf.best_estimator_)

In [ ]:
#"Random Forest"
clf = GridSearchCV(ran_for,{"n_estimators":[100],"random_state":[42],"min_samples_leaf":[5,10,20,40,50],"bootstrap":[False]},scoring="f1_micro",cv=sk_fold,return_train_score=True)
clf.fit(X_train,y_train) #.reshape(-1,1)
y_pred = clf.best_estimator_.predict(X_test)
cm = confusion_matrix(y_test,y_pred)
  
#train_scores.loc[i]= [name,cross_val_score(clf,X_train,y_train,cv=sk_fold,scoring="accuracy").mean(),(cm[0,0]+cm[1,1,])/(cm[0,0]+cm[0,1]+cm[1,0]+cm[1,1])]
train_scores.loc[2]=  ["Random Forest",clf.best_score_, f1_score(y_test,y_pred) ]
stack_list.append(clf.best_estimator_)

In [ ]:
#"Logistic Regression"
clf = GridSearchCV(log_reg,{"multi_class":['multinomial'],"penalty":['l2'],"C":[100, 10, 1.0, 0.1, 0.01] , "solver":['saga']},scoring="f1_micro",cv=sk_fold,return_train_score=True)
clf.fit(X_train,y_train) #.reshape(-1,1)
y_pred = clf.best_estimator_.predict(X_test)
cm = confusion_matrix(y_test,y_pred)
  
#train_scores.loc[i]= [name,cross_val_score(clf,X_train,y_train,cv=sk_fold,scoring="accuracy").mean(),(cm[0,0]+cm[1,1,])/(cm[0,0]+cm[0,1]+cm[1,0]+cm[1,1])]
train_scores.loc[3]=  ["Logistic Regression",clf.best_score_, f1_score(y_test,y_pred) ]
stack_list.append(clf.best_estimator_)

Hold on Support Vector Machine as it takes a lot of time

In [ ]:
#"Support Vector"
clf = GridSearchCV(svc,{"kernel": ["linear","rbf"],"gamma":['auto'],"C":[0.1, 1, 10, 100, 1000]},scoring="f1_micro",cv=sk_fold,return_train_score=True)
clf.fit(X_train,y_train) #.reshape(-1,1)
y_pred = clf.best_estimator_.predict(X_test)
cm = confusion_matrix(y_test,y_pred)
  
#train_scores.loc[i]= [name,cross_val_score(clf,X_train,y_train,cv=sk_fold,scoring="accuracy").mean(),(cm[0,0]+cm[1,1,])/(cm[0,0]+cm[0,1]+cm[1,0]+cm[1,1])]
train_scores.loc[4]=  ["Support Vector",clf.best_score_, f1_score(y_test,y_pred) ]
stack_list.append(clf.best_estimator_)

In [ ]:
#"Decision Tree"
clf = GridSearchCV(tree,{},scoring="f1_micro",cv=sk_fold,return_train_score=True)
clf.fit(X_train,y_train) #.reshape(-1,1)
y_pred = clf.best_estimator_.predict(X_test)
cm = confusion_matrix(y_test,y_pred)
  
#train_scores.loc[i]= [name,cross_val_score(clf,X_train,y_train,cv=sk_fold,scoring="accuracy").mean(),(cm[0,0]+cm[1,1,])/(cm[0,0]+cm[0,1]+cm[1,0]+cm[1,1])]
train_scores.loc[5]=  ["Decision Tree",clf.best_score_, f1_score(y_test,y_pred) ]
stack_list.append(clf.best_estimator_)

In [ ]:
#"Adapative Boost"
clf = GridSearchCV(ada_boost,{"n_estimators":[100],"learning_rate":[.6,0.8,1]},scoring="f1_micro",cv=sk_fold,return_train_score=True)
clf.fit(X_train,y_train) #.reshape(-1,1)
y_pred = clf.best_estimator_.predict(X_test)
cm = confusion_matrix(y_test,y_pred)
  
#train_scores.loc[i]= [name,cross_val_score(clf,X_train,y_train,cv=sk_fold,scoring="accuracy").mean(),(cm[0,0]+cm[1,1,])/(cm[0,0]+cm[0,1]+cm[1,0]+cm[1,1])]
train_scores.loc[6]=  ["Adapative Boost",clf.best_score_, f1_score(y_test,y_pred) ]
stack_list.append(clf.best_estimator_)

In [ ]:
#"Gradient Boost"
clf = GridSearchCV(grad_boost,{"n_estimators":[100]},scoring="f1_micro",cv=sk_fold,return_train_score=True)
clf.fit(X_train,y_train) #.reshape(-1,1)
y_pred = clf.best_estimator_.predict(X_test)
cm = confusion_matrix(y_test,y_pred)
  
#train_scores.loc[i]= [name,cross_val_score(clf,X_train,y_train,cv=sk_fold,scoring="accuracy").mean(),(cm[0,0]+cm[1,1,])/(cm[0,0]+cm[0,1]+cm[1,0]+cm[1,1])]
train_scores.loc[7]=  ["Gradient Boost",clf.best_score_, f1_score(y_test,y_pred) ]
stack_list.append(clf.best_estimator_)

In [ ]:
#"Histogram GB"
clf = GridSearchCV(hist_grad_boost,{"loss":["auto"],"min_samples_leaf":[5,10,20,40,50],"l2_regularization":[0,.1,1]},scoring="f1_micro",cv=sk_fold,return_train_score=True)
clf.fit(X_train,y_train) #.reshape(-1,1)
y_pred = clf.best_estimator_.predict(X_test)
cm = confusion_matrix(y_test,y_pred)
  
#train_scores.loc[i]= [name,cross_val_score(clf,X_train,y_train,cv=sk_fold,scoring="accuracy").mean(),(cm[0,0]+cm[1,1,])/(cm[0,0]+cm[0,1]+cm[1,0]+cm[1,1])]
train_scores.loc[8]=  ["Histogram GB",clf.best_score_, f1_score(y_test,y_pred) ]
stack_list.append(clf.best_estimator_)

In [ ]:
#"XGBoost"
clf = GridSearchCV(xgb,{"n_estimators":[100]  ,"eval_metric":['logloss'] , "objective":["multi:softprob"],"max_depth":[3,4,5],"learning_rate":[.01,.1,.2],"subsample":[.8],"colsample_bytree":[1],"gamma":[0,1,5],"lambda":[.01,.1,1], "num_class":[3]},scoring="f1_micro",cv=sk_fold,return_train_score=True)
clf.fit(X_train,y_train) #.reshape(-1,1)
y_pred = clf.best_estimator_.predict(X_test)
cm = confusion_matrix(y_test,y_pred)
  
#train_scores.loc[i]= [name,cross_val_score(clf,X_train,y_train,cv=sk_fold,scoring="accuracy").mean(),(cm[0,0]+cm[1,1,])/(cm[0,0]+cm[0,1]+cm[1,0]+cm[1,1])]
train_scores.loc[4]=  ["XGBoost",clf.best_score_, f1_score(y_test,y_pred) ]
stack_list.append(clf.best_estimator_)

In [ ]:
est = [("g_nb",stack_list[0]),\
       ("knn",stack_list[1]),\
       ("ran_for",stack_list[2]),\
       ("log_reg",stack_list[3]),\
       #("svc",stack_list[4]),\
       ("dec_tree",stack_list[5]),\
       ("XGBoost",stack_list[4]),\
       ("ada_boost",stack_list[6]),\
       ("grad_boost",stack_list[7]),\
       ("hist_grad_boost",stack_list[8])]

In [ ]:
sc = StackingClassifier(estimators=est,final_estimator = None,cv=sk_fold,passthrough=False)
sc.fit(X_train,y_train)
y_pred = sc.predict(X_test)
cm1 = confusion_matrix(y_test,y_pred)
y_pred_train = sc.predict(X_train)
cm2 = confusion_matrix(y_train,y_pred_train)
train_scores.append(pd.Series(["Stacking",accuracy_score(y_train,y_pred_train), f1_score(y_test,y_pred)],index=train_scores.columns),ignore_index=True)

                  Name  Train Score  Test Score
0          Naive Bayes     0.885451    0.244912
1            K Nearest     0.901275    0.020460
2        Random Forest     0.908374    0.204315
3  Logistic Regression     0.901912    0.027314
4        Decision Tree     0.848835    0.262328
5      Adapative Boost     0.908220    0.259859
6       Gradient Boost     0.907714    0.256729
7              XGBoost     0.908286    0.268233
8         Histogram GB     0.908110    0.258038
9             Stacking     0.915011    0.290159

##Predict Test Dataset and Submit

In [ ]:
#Import Libraries
from sklearn.ensemble import VotingClassifier
#----------------------------------------------------
#Applying VotingClassifier Model 
'''
ensemble.VotingClassifier(estimators, voting=’hard’, weights=None,n_jobs=None, flatten_transform=None)
'''
#loading Voting Classifier
VotingClassifierModel = VotingClassifier(estimators=[("dec_tree",stack_list[5]),("XGBoost",stack_list[4]) , ("grad_boost",stack_list[7])], voting='hard')
VotingClassifierModel.fit(X_train, y_train)


#Calculating Details
print('VotingClassifierModel Train Score is : ' , VotingClassifierModel.score(X_train, y_train))
print('VotingClassifierModel Test Score is : ' , VotingClassifierModel.score(X_test, y_test))
print('----------------------------------------------------')

VotingClassifierModel Train Score is :  0.914989010989011
VotingClassifierModel Test Score is :  0.9077948717948718
----------------------------------------------------

In [ ]:
new_features_test.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 4833292 entries, (3, 248) to (206208, 49621)
Data columns (total 15 columns):
 #   Column                            Dtype
---  ------                            -----
 0   up_total_bought                   int8
 1   up_reorder_ratio                  float16
 2   number_times_last5                float16
 3   total_items                       int16
 4   total_distinct_items              int16
 5   user_average_days_between_orders  float16
 6   user_number_orders                int8
 7   user_avg_basket                   float16
 8   user_total_orders                 int8
 9   user_reordered_ratio              float16
 10  product_orders_total              int32
 11  product_reorder_total             float32
 12  product_reorder_rate              float16
 13  aisle_id                          int16
 14  department_id                     int8
dtypes: float16(6), float32(1), int16(3), int32(1), int8(4)
memory usage: 179.8 MB

In [ ]:
test_pred = VotingClassifierModel.predict(new_features_test).astype(int)

In [ ]:
#Save the prediction on a new column in the data_test DataFrame
new_features_test['prediction'] = test_pred
new_features_test.head(n=10)

                    up_total_bought  ...  prediction
user_id product_id                   ...
3       248                       1  ...           0
        1005                      1  ...           0
        1819                      3  ...           0
        7503                      1  ...           0
        8021                      1  ...           0
        9387                      5  ...           0
        12845                     1  ...           0
        14992                     2  ...           0
        15143                     1  ...           0
        16797                     3  ...           0

[10 rows x 16 columns]

In [ ]:
#Reset the index
final_predict = new_features_test.reset_index()

In [ ]:
#Keep only the required columns to create submission final
final_predict = final_predict[['product_id', 'user_id', 'prediction']]
gc.collect()
final_predict.head()

   product_id  user_id  prediction
0         248        3           0
1        1005        3           0
2        1819        3           0
3        7503        3           0
4        8021        3           0

In [ ]:
#For each user_id in the test DataFrame, we need to get the order numbers and the products that were predicted to be purchased
orders_test = orders.loc[orders.eval_set=='test', ("user_id", "order_id")]
orders_test.head(n=10)

     user_id  order_id
38         3   2774568
44         4    329954
53         6   1528013
96        11   1376945
102       12   1356845
152       15   2161313
159       16   1416320
217       19   1735923
222       20   1980631
272       22    139655

In [ ]:
final_predict = final_predict.merge(orders_test, on='user_id', how='left')
final_predict.head()

   product_id  user_id  prediction  order_id
0         248        3           0   2774568
1        1005        3           0   2774568
2        1819        3           0   2774568
3        7503        3           0   2774568
4        8021        3           0   2774568

In [ ]:
#Drop unnecessary columns
final_predict = final_predict.drop('user_id', axis=1)

In [ ]:
#Change product_id to integer
final_predict['product_id'] = final_predict.product_id.astype(int)

In [ ]:
#Remove unecessary DataFrames
del orders
del orders_test
gc.collect()

final_predict.head()

   product_id  prediction  order_id
0         248           0   2774568
1        1005           0   2774568
2        1819           0   2774568
3        7503           0   2774568
4        8021           0   2774568

In [ ]:
#For the submission file, create a dictionary which will be used to create a map of unique keys to values.
#Index will be the order_id and the values will be the all the products that the order will have
#If none of the products will be purchased, use the string "None."

d = dict()
for row in final_predict.itertuples():
    if row.prediction== 1:
        try:
            d[row.order_id] += ' ' + str(row.product_id)
        except:
            d[row.order_id] = str(row.product_id)

for order in final_predict.order_id:
    if order not in d:
        d[order] = 'None'
        
gc.collect()

#We now check how the dictionary were populated (open hidden output)
d

{2774568: '21903 39190 47766',
 1376945: '8309',
 2161313: '196',
 1416320: '5134 21903',
 1735923: '17008',
 1980631: '6184 9387 13575 13914 22362 41400 46061',
 3202221: '9637 24852',
 3222866: '8501 32912 33198 35921',
 707453: '694 4942 18150 24852 32030 48230',
 882556: '5450 24852 25890 28204 30962 48679',
 2431024: '5450 5699 6975 13176 24799 27555 34217 39928',
 320326: '42828',
 2817181: '18828 19677 41618',
 2883656: '24852',
 1970262: '21903',
 2681168: '11777',
 1345233: '13176 21137 40146',
 139487: '21386',
 3302990: '21616 24852',
 1368861: '1940',
 36863: '27521',
 969538: '13643 30120 41651',
 1058680: '470 4210 32768 44570',
 831748: '5782 40174',
 1500625: '1674 8769 26700 29646 34300 40332',
 2567075: '9124 12381 30489 34217',
 1855063: '27845',
 2588536: '33572',
 1658650: '19057 21616 24852 28289 39928 40706 44910 45007',
 36740: '13841 25976 27726',
 2675738: '37543',
 2943466: '3957 5258 24852',
 1920100: '2748 22582 47209',
 2691733: '47990 49488',
 2769561: '18434 21227 22963 38383 40706 42585',
 2029462: '38453',
 1817659: '35121',
 569815: '12218',
 2378064: '49683',
 169451: '13176',
 2986791: '13176 16797 17526 21914 28204 47717',
 1239084: '10768 12469 13166 17758 24852 30391 32655 33527 49235',
 3191854: '40174',
 1132910: '1194 17872 21704 24852 27086 27744 28476 30233 38948 41290 42701 42750 47766',
 2088686: '5479 9390 27531 39928 40311 46802',
 3358588: '4210 19348 22959 27730',
 1283403: '3835 13176 21137 47209',
 795256: '3376 10385 23288',
 2399184: '4920 9122 10385 11710 18370 21137 22993 24852 28199 33043 47229',
 862070: '17352 24852',
 313331: '19660',
 2318705: '8518 12341 21616 21903 30391',
 1882331: '18523 24852',
 3048274: '13712',
 865014: '11361',
 2572142: '16797 24852',
 1579044: '34358 49683',
 346816: '3873',
 3116687: '12902 26988 30251 34355 42895',
 158824: '4317 19660',
 61423: '6184',
 1105633: '24852 28204',
 930307: '4357 22677 24852 39190',
 2964001: '14233',
 1452849: '43295',
 2242945: '27845 29487',
 465851: '40910',
 632748: '28080',
 2770483: '9018 21543 27325 44422',
 143045: '8277 11100 35221 43654',
 2481483: '19660',
 2193705: '6184 8048',
 239545: '19862 27086 36830',
 1185710: '21137',
 1237726: '26209',
 572050: '31846',
 1753574: '6348 21137 22935 24852 27845 47766',
 442242: '3957 7521 25718',
 3376600: '17949 33754 37646 42265 46820 47209',
 2391680: '13176 21903',
 2196307: '3957 4957 14924 17429 31040 40571 44632 47943',
 198531: '24852',
 1281623: '8277',
 654116: '16797 24669 45825 49191',
 2761369: '13176 33572',
 1918388: '14084 25931 33120',
 3073553: '24852 33768',
 2185735: '1463 3957 37022',
 1088553: '27845',
 2247264: '41549',
 2651333: '1321 40174',
 1990335: '43598',
 2730481: '47766',
 1032696: '24852 37646 47626',
 3355968: '13176 43295',
 1945605: '8021 12576 16262 21709 27086 35221 42828 44292 44632 47144',
 2890507: '1409 8710',
 2519594: '2748 13083 13176 14874 24838 33731 39570 45066 45504 46381 47209',
 2151106: '4776 13176 47141',
 293692: '34050',
 836275: '24852 32566',
 1956871: '3999 4443 28204 36214',
 68117: '9605 17341 21333 21386 26165 35914 49030',
 1455788: '28296 33852 41805',
 1490499: '47626',
 891657: '8518 9337 18413 20734 28476 29127 35921 41149 43484 47388',
 1241495: '13176 21137',
 606811: '1940 18465 36717',
 1036348: '47209',
 1803743: '43631',
 2080645: '1940 13176 19057',
 599014: '26384',
 877079: '9438 14233 23427 24852 26800',
 3100473: '5876 13083 13176 21903',
 123641: '19348',
 2104476: '8277 18370 20995 24852 27845 30391 37687 45007 47766 48679',
 203528: '13176 21903 27966 47766',
 1094091: '39527',
 764108: '1695 20298 42719 43693',
 1386850: '21616 22959 24125 30391 32134 48988',
 728126: '10673 24852',
 1886032: '13176 28985 40709 44560',
 630214: '9901 44799',
 1533834: '25108',
 2360269: '2962 4879 39581 45761',
 2535468: '12341 25653',
 162228: '4920',
 160588: '29848',
 153911: '17920 18465 20598 33198 43400',
 1530394: '29370',
 3158092: '33909',
 1788231: '1194 2091 6182 11543 11937 14133 18523 22959 24852 28204 35522 46820',
 2866997: '23986 24852 27000',
 1629029: '9421',
 1158445: '8903 36522 49075',
 524582: '27845',
 2742254: '24852',
 39629: '5479 13176',
 2496659: '12218 13375 20995 24852 26456',
 2676901: '15134 34230',
 1078531: '22935',
 2278368: '13176 37646 39190',
 695415: '14947 44632',
 2904666: '13176 19660 21872 21938 30391 30489 41950',
 1055153: '28204',
 2471966: '23909',
 1994195: '24852 28465 36011',
 3020209: '13176',
 3255859: '29326',
 2688906: '24964',
 2563471: '4047 8859 21757 22340 34862 36843 40240 43631 47977 48304',
 2318244: '13176',
 242483: '24838',
 1168266: '1940',
 141543: '9175 45154',
 3183367: '24489',
 1797124: '196 22802',
 1423050: '24838 26683 42443 43295',
 1249392: '28535 29447 47766',
 420520: '5782',
 2754200: '24852 28204 31981 39982',
 2558743: '94 13176 21137 25936 26278 27845 43295',
 1671355: '21903 24852 25837 37646 39928 46676 47209',
 2791256: '19057 19348 21137 21903 24799 24852 30489 34217 40310 47209',
 2520517: '5985 8571 12341 32689',
 1930805: '13176',
 1502827: '5612 27845 38453 49235',
 109911: '21903 24852 24964 43961 47626 49683',
 934581: '5479 14833 22935 26209 27966 32864 48034',
 2997340: '1541 7156 8424 15130 22959 24184 24852 40997 47766',
 216270: '13176 17794 29370 39928 42450',
 889691: '13646 27086',
 2676926: '1313 2966 47626',
 1146075: '5785 32655',
 3168076: '13176 39275',
 1199748: '44570 47626 47766',
 2864780: '21903',
 2101491: '24852 26209',
 551385: '21903',
 2065552: '3990 13176 14348 20019',
 2619795: '432 24852',
 221995: '18443',
 2364225: '4605 24852 36186',
 1409336: '13176 27845',
 2985179: '23383 35951',
 2724284: '12923 22054',
 406182: '3919 10032 23909 47226',
 1382149: '13176',
 172394: '6985 21137',
 1017522: '40604 44632',
 1389899: '17080',
 383770: '7681',
 1344043: '23565',
 2172762: '25466',
 1635368: '13176',
 624714: '1090 2639 27945 34117 44536 48205',
 3070543: '2014 11440 13176 32717 47616 48720',
 533523: '1940 6348 13176 27966 44980 48004 49235',
 2771992: '14778 33894',
 3118092: '26746',
 352630: '1203 13176 19660 27521 32566',
 2072510: '5450',
 1237738: '15424 20082 21137 47209',
 1970457: '3397 4210 4793 8087 21267 23044 28862 35628 40199 41165 46584 47912',
 2786948: '6383 21614 24852',
 3032161: '33827',
 2788023: '19660',
 2491706: '4210 16696 16797 24852 39108',
 2544926: '32478',
 527075: '24852',
 2933690: '5130 41950 47144 47766',
 1295088: '5450 24852',
 1205372: '21267',
 2784114: '42445',
 2634958: '12392 21137 21903 24852 39877 40656 47209',
 3381268: '11865 13031 26032 40380',
 3419249: '13176 37646 39589 43789',
 3288057: '42736',
 2802507: '21242',
 1440533: '13032 26317',
 2128112: '13966',
 2061262: '32747 41315 45570',
 1860851: '148 24852 39877 42495',
 1294240: '196 13176',
 539759: '1848 12481 13870 17316',
 730226: '11365',
 825152: '1940 5069 7028 17600 24037 24852 27239 28204 30645 45066',
 1166076: '10749',
 1660241: '5876 21288 28008 30233 47766',
 2578885: '34949 49621',
 2719212: '24852 32828 49075',
 1242569: '13176',
 979711: '20015',
 115809: '7533 23106 38241 42450',
 1003428: '3429 11078 19660 38988 41065',
 173060: '13629 19057 21137 22825 24852 27966 30391 31915 35221',
 1417318: '17027 30639',
 1094757: '5083 9225 21288',
 556998: '43352 43772',
 1654614: '9839 10749 19057 24852 27845 27966 47766',
 348608: '23909 29487',
 3263101: '24852 31720 39877 47912',
 472089: '21903 24852 38293',
 1477795: '39877 47209 49683',
 1837509: '2604',
 1257586: '13176 38689',
 1964277: '3896 13176 38689',
 3354422: '19660',
 3299383: '20574 42265',
 422051: '13176 41678',
 3380822: '14233',
 825986: '4656 8390 16797 22695 24142 36070 40376',
 1334507: '5077 31091 31683 43263 47766',
 2857490: '21903 35951',
 307143: '8277 18027 21137 27730 43122 49683',
 2298851: '4698 45603 48559',
 1377070: '22963',
 1138234: '389 9810 17154 38849 48246',
 235789: '5258',
 3261182: '22935',
 544889: '7412 13249 24852 35221 39993',
 14817: '5918 36591',
 2999536: '13176 17207',
 1898121: '26088 26348 37710 45004 49235',
 3063004: '6184 12341 15541 16974',
 1703133: '19125 25890 46720',
 3106959: '26165',
 3221782: '25363 32605 35042 44142 46201',
 1520586: '29487 38739 39275 46059',
 3377720: '13176',
 1301634: '4142 13176 27845 32864',
 526421: '22089 44987',
 40070: '27845',
 1122524: '196',
 3307750: '21386',
 1448063: '24852 45066 47766',
 1304479: '30450 32665',
 2222025: '23322 34262 48287',
 583891: '21903 24852',
 1560567: '31622',
 1952709: '8859',
 2477100: '8174 13176 15462 16396 21137 23165 27142 29310 29871 34065 42323 47209',
 3246106: '24184 24852 34668',
 2733997: '12427 32689',
 1969261: '26914 38689',
 3212682: '24852 28156 28204 49683',
 1412630: '22888 27695',
 2534805: '9189 13176 18838',
 263089: '24852',
 3358926: '7916 13984 21616 21903',
 491363: '196 11821',
 747352: '21288',
 2785463: '49414',
 2481125: '10089 33198',
 1505169: '13646 22035 39180',
 2214673: '33129 38608 45009 45954',
 3111365: '3397 7264 10246 13457 16398 19660 21938 35503 35921 37067 40706 42342 49683',
 489189: '2051 4920 9076 23079 47167 47616',
 1711925: '7452 21903 27845 38453 39928 48058',
 1563765: '47626 47766',
 3309393: '19057',
 288658: '32156 33452',
 211267: '18465 19057 24852 30192 44632 45007 47766 48679 49044',
 3052173: '14161 21137 43352',
 2581727: '5876 21616 21903 24852 30391 36127 39877 43122 46802',
 1556549: '13176',
 987145: '25138',
 1844839: '30776',
 2700123: '3952 10337 13176 17131 19322 21137 21903 27845 36036 41842 45570 49510',
 848283: '13176',
 519140: '24852',
 635541: '9405 11440 27086',
 2863172: '24852 27344 33357 43693',
 3062074: '13176 13575 45051',
 192719: '24347',
 1370372: '8073',
 1676258: '18465',
 656396: '12341 22220 22227',
 2726684: '24852',
 3123103: '4562 16797 24852 27086 40571',
 8363: '13176 32828 42265 42585',
 1778015: '11926 24852 27845',
 1987854: '17638 21267 32740',
 2514756: '24852',
 766247: '27966',
 827625: '27845',
 888027: '37710 37980',
 1949086: '6948 21903',
 2386746: '6366',
 681913: '4605',
 1484897: '34050',
 1355695: '7781 14240 21137 40469 46906 48186',
 2615195: '10749 34027 40174',
 1930476: '39180',
 503085: '21709',
 1828558: '43352',
 2265504: '20119 24852',
 2756799: '13176',
 850065: '14778 24235 26209 35108 46802 47626 47630',
 881345: '24852 27966 45066',
 1194995: '21903 45223',
 1516882: '8138 13176 27705 42342',
 3419574: '35527',
 1658737: '5785 27750',
 820449: '7054 9839',
 297131: '21903',
 1176648: '15541 43352',
 1061897: '196',
 532252: '196',
 1242386: '47766',
 308264: '5785 12745 13176 17872 21137 22825 30561 31720 32655 44560 46979 47209',
 1098337: '4472',
 1472331: '5450 14381 24852 28427 49683',
 1678375: '18023',
 1763504: '12341',
 2392155: '12606',
 1531618: '27845 47209',
 1191837: '27845',
 3022429: '24852 28985',
 8188: '21903 24184 30492 33000 49683',
 1150654: '5922 12703 13176 17530 19154 21137 24518 31215 31915 33198 35383 35914 37011 38164 39203 43772 47209 47325 48453 49488 49519',
 3348685: '1158 5161',
 1372067: '34448',
 3366084: '32478',
 1490258: '12606 16213 16797 20144',
 520685: '2966 21137',
 213822: '13176',
 746260: '9387',
 2037257: '25588',
 604986: '17122 24852',
 334377: '8518 21137',
 2531119: '7069 30849 40310 45954',
 1876410: '16797',
 255859: '11512 16167 20876 23804 30639 45123 46681 49247',
 928627: '19660',
 3023648: '8174 8859 21903 30169',
 1503751: '20738',
 973054: '13176 27730 36011 47209',
 2045272: '46651',
 1611034: '24852',
 1440294: '11520 21903 24184 27744',
 443872: '350 10613 21573 34619 41131 46088',
 2346070: '28985',
 1812624: '19057 24838 36070 38739',
 2190129: '6348 18110 30726 34234 45066',
 2585859: '21137 24852 25965 26915 46979',
 663064: '9292',
 2362483: '5077 11520 33120',
 421861: '9076 13176 18818',
 651234: '13176 34668 48415',
 443880: '8627 14947',
 2911077: '12606',
 18531: '459 4210 24852 27841 31725',
 2466465: '34197',
 2936120: '1463 3957 7806 10749 11182 13609 20632 21137 22935 26209 38108 41950 42265 43768 45200 47209',
 1950741: '5450 27662 37067 42445',
 497684: '14645',
 2154816: '13176 21137 27845 38689',
 462804: '1919 13176',
 160099: '8339 20186 21903',
 2587900: '7131 21903 28465 29487 42450 49683',
 927784: '13176',
 128469: '40198',
 2935142: '28823 32605 39434 41602 45064',
 1800415: '12341',
 741026: '3262 22935 23734 31778 48779',
 1028563: '27102 41371',
 1911600: '47766',
 1165781: '24852 42731',
 2639950: '21288 21903 39275 43352',
 1564909: '4697 25670 27307 28226 37158',
 275947: '15042 44085',
 1288003: '24838',
 464517: '1511',
 1578265: '4957 7388 35383 36165',
 565286: '14867 23288 24852 45066 45416',
 2361352: '33055',
 1005664: '13176 21386',
 3400252: '13176',
 509783: '5785 26620 35221 35504 44632',
 2117142: '13176 16797 21288 43352',
 3312403: '8424',
 2611132: '2748 14084',
 2134382: '18615',
 126017: '4210 24852',
 2754136: '21137 36011',
 1379985: '29373',
 1685398: '24852 47766',
 169915: '1890 18670',
 451736: '7185 21903 23644 27344 34128',
 3249425: '10129 10749 14853 32523 34658 35951 39275 46969',
 528740: '45 17396 24852',
 1372919: '16249 28985',
 167873: '27845',
 2723797: '2611 21938 24852 40174 42265 47626',
 2032217: '13176 21137 27845 35503 37646',
 3299223: '32655 49191 49235',
 2258443: '5258',
 1792555: '13176',
 2509044: '13176 22856',
 2442472: '7715 10814 47610',
 1502437: '47977',
 1419744: '40198',
 339159: '13176 17794 19311 26701 41149 47209',
 263953: '39108',
 2263140: '14462',
 2239146: '2971 24852',
 2613079: '32478',
 1064164: '17545 23341 28204 41594 44666 47144 47516',
 1592266: '35221',
 148793: '46802',
 890480: '24852',
 418348: '4210 16696 19863 38200 43727',
 3290929: '2745 23082 26709 31981',
 2799230: '3529 6532 14852 21737 24852 27104 27845 31469 32689 36278 37003 38544 39032 40174 40708 41120 41290 41714',
 2049779: '24852',
 505397: '47766',
 577706: '24852',
 1007185: '21137',
 2415900: '23288',
 2957920: '22220 36869',
 2086127: '12606 24852 40332',
 1815710: '38928 49235',
 214407: '5985 12341 31985',
 3291619: '16797',
 172709: '4472 4920 6348 9421 11737 12614 14766 14870 16987 17949 23986 24852 26209 27966 28054 31215 38456 39886 40198 43545 45066 46969 47209 47626 48057',
 2841397: '26209',
 1174131: '27966 37766',
 2903101: '44632',
 1668898: '24852',
 196979: '6719 26604 30340',
 1644302: '6104 21903 24852 27845 35383',
 3186382: '5134 14947 15008 24852 35504 43889',
 342979: '12384 17794 21903 42557 45066',
 253078: '24852 30385',
 3245934: '25138 27086',
 2834814: '18670 24852 34262',
 1121374: '45223',
 1746028: '1039 39475 43394',
 3219717: '1463 5077 13166 13176 22260 30489',
 2205722: '5450 37335',
 1347920: '432 7781 9058 13083 13176 16185 18027 18370 19057 21903 24489 26209 30450 32227 36695 39409 39578 44632 46584 49416',
 2537601: '7955 11543 18465 31292',
 3074582: '16589 19894 24518 30391 39877',
 1430114: '10957 14111',
 3152226: '4421 13176 26521 27845 32864 34197 34243 34497 35547 42450 44479 45007',
 1406066: '11543 13176 17600 22035 27845 27966 30561 36865 37646 41950 43961 48628',
 3073931: '1940 35507 36200',
 2397663: '5876 8518 21903 26209 26800 31717 43768',
 360026: '13643 26553 37250 47163 47931',
 2715459: '34969',
 2313350: '14853',
 1771407: '6361 13176 17579 43394 43713 44765 47144',
 1408920: '27845',
 3410558: '24852',
 3220768: '24838',
 2406664: '17794 23165 37646 45007',
 680655: '13176 49610',
 1468641: '6962 13176',
 1987191: '47766',
 2117855: '3957 13176',
 1115264: '1670 36397',
 2821739: '44632',
 2688436: '4605 44799',
 2382822: '17316 49247',
 2317748: '9137 24852 27104 27521 29370 32402 39180 45123',
 153845: '8277 17652 30489',
 1829655: '25072 41371',
 1961266: '7669 24184 27086 35328 37646',
 998429: '23909 26165 47626',
 1693413: '10753 23879 38480',
 1637446: '7952 13176',
 1156732: '15399 19348 45104',
 18542: '28934 34339',
 2451582: '19660',
 3028530: '13176 27845 45007',
 1479892: '13496 38739',
 3378756: '13176 18523 19057',
 2836028: '27156 49683',
 2025678: '6128 6631 28703 37552 39275 40332 47366 49235',
 2895386: '46886',
 433684: '29615 41273 47144',
 2028349: '15950 37067',
 2304962: '43154',
 210065: '3896 9405 17985 18465 21137 27344 30561 40706 41665 46820',
 39157: '11520 21137 24852 37646 47766',
 1938106: '8424 13629',
 2862042: '7485 15290 28985 46979',
 834510: '11777 13166 21137 43961',
 2897111: '3800 24852 35914',
 937063: '43154',
 2677758: '5077 10132 27845 44765',
 929552: '39314',
 1020443: '25466',
 1146246: '13176 34886',
 2175759: '30219 46616',
 3103563: '13176',
 2534043: '35221',
 1002072: '8859',
 3097958: '7806 8728 24852 40706 49211',
 1732365: '9036 13176 21137 21903 25533 47766',
 962669: '27325 46627',
 2907747: '27966 28204 35914 41290',
 3176607: '11520 13176 29292 47209',
 37580: '1890 21137',
 2395413: '47977',
 906138: '3951 24799 24852',
 1332728: '24852 25706',
 3363663: '1393 21709 24852 40332',
 3086391: '13176',
 499654: '24852',
 3276844: '5575 5646 13176 19660 21150 21903 27966 28985 40396 42265 47630 47766 48628',
 3033980: '47209',
 781055: '5212 21903 24852 42244',
 439603: '14010',
 1636972: '36717 37067 43122',
 18671: '13176 15503 19906 27845 44661 47788',
 1711131: '8859 40969',
 2989523: '23288',
 2824972: '3957 26604 31076 37067',
 2693691: '19660 24082',
 1440068: '2536 43631',
 2238548: '43394 49628',
 2699075: '24253 33120',
 3158947: '13176 31720',
 2123903: '13249 32201 42342 44781',
 12187: '12341',
 159767: '23955 24852',
 2511113: '24852 29487',
 2615427: '27845',
 2428669: '13176 47209',
 2582209: '10831 13176 22969 29447 42533',
 3081244: '10749 13565 21405 35163 37646 43768',
 285841: '24852',
 1947751: '14084 28156',
 2436525: '2326 9825 10749 13176 21137 24024 27104 40706 44418 46584 47209 49520',
 3302438: '37067 38383 47209',
 1068380: '25890',
 2735482: '13176 16759 21137 49235',
 2705359: '18615 21903 27845',
 221963: '8174 16759',
 2024210: '2756 43295',
 2934403: '7413 13517 24276 24852 27966 28204 45066',
 2244082: '21903 24852 34969 35547 47626 47766',
 2391231: '30827 32403',
 2547704: '13176 21137 38768 43352',
 652900: '20082',
 2646340: '24852 29615',
 1702846: '38928',
 690195: '12324 34335 42526',
 2312614: '13176',
 3345341: '6218 13176 17948',
 1602984: '21903 28934',
 2435962: '41724',
 2081370: '19894 24852 49683',
 1992692: '17630 35628 44310 44560',
 1248855: '4792 6948 22908 30639 35503',
 1466762: '27510',
 2044709: '13032',
 319395: '6212 34026',
 2293675: '26209',
 216388: '6182 7522 24799',
 2701994: '25093',
 2777891: '25043 38689 41950 47766',
 3064986: '1217 24852 26030 28842 33026',
 1058317: '5258 8048 9076 14715 15772 21288 21903 24135 33147 42265 43352',
 3097087: '1463 5077 8277 11585 20178 25890 28985 42342 42507 46252 49374',
 359439: '21137',
 2552554: '1729',
 2379878: '37646',
 1343805: '8048 8571 18292',
 2705870: '48559',
 2808739: '2481 16696 39947',
 1431611: '36186',
 2409364: '24852',
 2697627: '13176 20345 27086 27845 34126 38164',
 1663178: '13176 31915 40706',
 228046: '10551 13176 21903 21914 38453 47717',
 2511424: '21194 24852 37646 39275 47766',
 613138: '1185 24852',
 2675750: '14870 24852 43352 45066',
 3360200: '24852',
 3145799: '9839',
 292418: '2748 17758 20754 27977 35547 37766 46642 48099',
 1836360: '11136 49267',
 2165765: '24852',
 2997011: '1094',
 218573: '24852',
 1182927: '38689',
 2049410: '8490 8667 30776 41149 48559',
 1260895: '5479 24852',
 1098204: '24852',
 3351424: '32403',
 1308121: '41950',
 240797: '8277 24852 44632',
 2342134: '12341 13176',
 1298692: '1241 8479 39877 48316',
 980176: '36943 37067 37867 44158',
 3125241: '6962 27521',
 1965407: '6184 13575',
 1686054: '9663 14233 17460 18489 23544 25466 40795',
 3282259: '13176 14711 21137 35628 40174 41290 43122',
 140644: '11961 12935',
 241296: '17183 17758 32781 36189 42903 43295',
 2356651: '13176',
 2420771: '23288 24852 27845 33000',
 2686832: '4472',
 1285494: '11073 12212 27592 33152',
 3089561: '13176',
 2540400: '31942 35121',
 2986891: '4210 23413 24852 39275 40278',
 2791240: '24852',
 1855627: '11090 20842 24852 25890 46676',
 3409697: '13176 22959',

In [ ]:
#Convert the dictionary into a DataFrame
submission = pd.DataFrame.from_dict(d, orient='index')

#Reset index
submission.reset_index(inplace=True)

#Set column names
submission.columns = ['order_id', 'products']

submission.head(n=10)

   order_id                                 products
0   2774568                        21903 39190 47766
1   1376945                                     8309
2   2161313                                      196
3   1416320                               5134 21903
4   1735923                                    17008
5   1980631  6184 9387 13575 13914 22362 41400 46061
6   3202221                               9637 24852
7   3222866                   8501 32912 33198 35921
8    707453         694 4942 18150 24852 32030 48230
9    882556       5450 24852 25890 28204 30962 48679

In [ ]:
#Check if the submission file has all 75,000 predictions
submission.shape[0]

75000

In [ ]:
#Export to CSV
submission.to_csv('submission13.csv', index=False)